$primary-color: #0a0a0a;
$secondary-color: #fefeff;
$tertiary-color: #ab373e;
$background: linear-gradient(rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.1)),
	url(./Images/aboutmebg.png);
$h1-size: 12rem;
$h2-size: 6rem;

.contact {
	height: calc(100vh + 100px);
	background: linear-gradient(#182341, #0f1629, #0e0e0e);
	background-position: bottom;
	background-size: cover;

	&__grid {
		display: grid;
		grid-template-columns: 1fr 6fr 1fr;
		grid-template-areas: ". content .";
	}

	&__content {
		grid-area: content;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	&__header {
		grid-area: header;
		width: 100%;
		margin-top: 40px;
		display: flex;
		justify-content: center;

		&-text {
			margin-bottom: 40px;
			color: $tertiary-color;
			font-family: "Roboto", sans-serif;
			font-size: $h2-size;
			font-weight: 300;
			letter-spacing: 0.3rem;
			text-transform: uppercase;
		}
	}

	&__container {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__form {
		margin-top: 100px;
		height: 70%;
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&--label {
			font-family: "Roboto", sans-serif;
			text-transform: uppercase;
			font-weight: 300;
			letter-spacing: 4px;
			font-size: 2.5rem;
			color: $tertiary-color;
		}

		&--input {
			margin-bottom: 20px;
			color: $tertiary-color;
			font-size: 2rem;
			background: transparent;
			outline: none;
			border: none;
			border-bottom: 2px solid $tertiary-color;

			&::-webkit-input-placeholder {
				font-family: "Roboto", sans-serif;
				color: #ab373e;
				opacity: 50%;
			}
		}

		&--btn {
			width: 100%;
			background: transparent;
			padding: 15px 20px;
			border: 1px solid $tertiary-color;
			color: $tertiary-color;
			font-family: "Roboto", sans-serif;
			font-size: 1.2rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			cursor: pointer;
			transition: all ease-in-out 0.15s;

			&:hover {
				background-color: $tertiary-color;
				color: $secondary-color;
			}
		}
	}
}
