$cardBoxShadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
$cardHoverShadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
$cardContentTrnz: all 0.3 cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;

.card {
	width: 300px;
	background: #fff;
	box-shadow: $cardBoxShadow;
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		box-shadow: $cardHoverShadow;
	}

	&.card--wide {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 718px;
		height: 320px;
	}

	&__media {
		position: relative;
		width: 300px;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.3);
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__content {
		padding: 40px 25px;
		color: #999;
		transition: $cardContentTrnz;
	}

	&--wide .card__content {
		padding: 20px 20px;
		width: calc(100% - 300px);
	}

	&__description {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-in-out;
	}

	&--wide .card__description {
		max-height: none;
	}

	&:hover .card__description {
		max-height: 300px;
	}

	&__title {
		color: initial;
		margin: 0 0 10px;
		font-size: 20px;
	}

	&__tools {
		color: red;
	}

	&__btn {
		background: none;
		padding: 10px 20px;
		margin-right: 10px;
	}
}
