* {
	box-sizing: border-box;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px auto 100px;
	grid-template-areas:
		"navbar"
		"main"
		"footer";
}

header {
	grid-area: navbar;
	background-color: #0a0a0a;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.nav-logo a {
	margin-left: 10px;
	text-decoration: none;
	color: #797979;
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: 2px;
	transition: all 0.09s ease-in-out;
}

.nav-logo a:hover {
	color: #dbdbdb;
	letter-spacing: 4px;
}

.nav-list {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.nav-item {
	margin: 0 26px;
}

.nav-item a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	color: #797979;
	padding: 14px;
	transition: all 0.09s ease-in-out;
}

.nav-item a:hover {
	color: #dbdbdb;
	border-top: 1px solid #dbdbdb;
}

main {
	grid-area: main;
	/* background-image: linear-gradient(170deg, #56909e, #bba793, #b95128); */
	background-image: linear-gradient(170deg, #101b1f, #56909e);
	height: 100%;
}

footer {
	grid-area: footer;
	background-color: #0a0a0a;
	color: white;
}

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.footer-list {
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin-top: 0;
}

.footer-item {
	margin: 10px 20px 30px 20px;
}

.footer-item a {
	font-size: 1.5rem;
	color: #79797949;
	transition: color 0.09s ease-in;
}

.footer-item a:hover {
	color: #9e9e9e;
}

.footer-text {
	text-transform: uppercase;
	font-size: 0.6rem;
	color: #79797949;
	letter-spacing: 2px;
	cursor: default;
}
